.formModal {
  display: grid;
  grid-template: 1fr / 1fr;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(2.5px);
}

.formContainer {
  display: grid;
  grid-template-rows: 3fr 1fr;
  width: 42rem;
  height: 48rem;
  border-radius: 0.9375rem;
  background: #498AE3;
  justify-items: center;
}

.formFields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 38rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #FFF;
  padding: 5.94rem;
  border: 0;
}

.formInput {
  background: none;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #FFF;
  font-size: 1rem;
  margin-top: 0.13rem;
  margin-bottom: 2.38rem;
  width: 100%;
}

.formInput:focus, .formInput:-webkit-autofill,.formInput:autofill {
  -webkit-box-shadow: 0 0 0 1000px #498AE3 inset !important;
  -webkit-text-fill-color: #FFF !important;
}

.termsContainer {
  border: 0;
}

.termsBox {
  display: flex;
  gap: 0.3rem
}

.terms {
  color: #FFF;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1rem;
}

.termsLink {
  text-decoration-line: underline;
}

.formSubmit {
  width: 22.9375rem;
  height: 2.25rem;
  border-radius: 0.9375rem;
  border: 0;
  background: #FFF;
  font-weight: 700;
  color: #498AE3;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 2.25rem;
  cursor: pointer;
}